<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">blackblade</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SpendingManagement</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<mapping class="model.General" />
		<mapping class="model.Day" />
		<mapping class="model.Expenses" />
		<mapping class="model.Category" />
		<mapping class="model.Week" />
		<mapping class="model.Month" />
		<mapping class="model.loan.GeneralLoan" />
		<mapping class="model.loan.Lending" />
		<mapping class="model.loan.Loan" />
		<mapping class="model.loan.Creditworthiness" />
		<mapping class="model.loan.Information"/>
		<mapping class="model.livingCost.LivingCost" />
		<mapping class="model.income.Income"/>
	</session-factory>
</hibernate-configuration>
